{% extends 'base.html.twig' %}

  {% block title  "Mon Appli React "%}
        
    
    {% block stylesheets %}
        <link href="https://bootswatch.com/4/litera/bootstrap.min.css" rel ="stylesheet">
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block body %}
        <div id="app"><div>
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}